<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{user/layout/index :: dynamic(~{::main})}">
	
<body>
	<main>
	
<!-- 		<div class="col-sm-4 col-lg-3 "> -->
<!-- 			<div th:replace="/layout/_category.html"></div> -->
<!-- 		</div> -->
		
        <div class="wrapper-cart tin__tuc">
          <!-- contact  -->
          <div class="row">
            <div class="col-md-4 col-xs-12 contact mtb_20">
              <div class="location mb_50">
                <h5 class="capitalize mb_20"><strong>Địa Điểm Của Chúng Tôi</strong></h5>
                <div class="address">Địa chỉ văn phòng
                  <br> 254 Đ Nguyễn Văn LinhThạc Gián, Thanh Khê
                  <br> Đà Nẵng</div>
                <div class="call mt_10"><i class="fa fa-phone" aria-hidden="true"></i>0123456789</div>
              </div>
              <div class="Career mb_50">
                <h5 class="capitalize mb_20"><strong>Nghề Nghiệp</strong></h5>
                <div class="address">Sinh viên trường Đại Học Duy Tân</div>
              </div>
            </div>
            <div class="col-md-8 col-xs-12 contact-form mtb_20 ">
              <!-- Contact FORM -->
             <!-- Contact FORM -->
              <div 	 class="form-group">
                <form id="contact_body" method="post" action="contact">
                  <!--                                <label class="full-with-form" ><span>Name</span></label>
-->
                  <input style="    border-radius: 15px;" class="form-control" required type="text" name="content" th:value="${#request.remoteUser}" placeholder="Tên " data-required="true" readonly />
                  <!--                <label class="full-with-form" ><span>Email Address</span></label>
-->
                 
                  <input style="    border-radius: 15px;" class="form-control  mt_30" required type="text" name="phone1" placeholder="Số điện thoại" maxlength="15" data-required="true" />
                  <!--                <label class="full-with-form" ><span>Subject</span></label>
-->
                  <input style="    border-radius: 15px;" class="form-control  mt_30" required type="text" name="subject" placeholder="Tiêu đề" data-required="true">
                  <!--                                <label class="full-with-form" ><span>Attachment</span></label>
-->
                  <!--                                <label class="full-with-form" ><span>Message</span></label>
-->
                  <textarea class="form-control  mt_30" name="message" placeholder="Nội dung" data-required="true"></textarea>
                  <div class="text-center">
                  <button class="btn mt_30 "type="submit">Gửi mail</button>
                  </div>
                </form>
                <div id="contact_results"></div>
              </div>
              <!-- END Contact FORM -->

            </div>
          </div>
          <!-- map  -->
          <div class="row">
            <div class="col-xs-12 map mb_30">
             <iframe src="https://www.google.com/maps/place/254+%C4%90+Nguy%E1%BB%85n+V%C4%83n+Linh,+Th%E1%BA%A1c+Gi%C3%A1n,+Thanh+Kh%C3%AA,+%C4%90%C3%A0+N%E1%BA%B5ng+550000,+Vi%E1%BB%87t+Nam/@16.0599647,108.2072044,17z/data=!3m1!4b1!4m6!3m5!1s0x314219b150aed6f9:0x605db61a371e4a28!8m2!3d16.0599647!4d108.2097793!16s%2Fg%2F11h056p_d0?hl=vi-VN&entry=ttu" width="100%" height="700px" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
	
            </div>
          </div>
        </div>
      </main>
      
      
</body>

</html>